ollama
chromadb

langchain
langchain-core
langchain-community
langchain-text-splitters
llama-index-embeddings-ollama

pypdf
PyMuPDF
python-docx
camelot-py[cv]
Pillow
pytesseract

SpeechRecognition
pyttsx3

streamlit
streamlit-option-menu
streamlit-pdf-viewer

fpdf2
requests

numpy
pandas
matplotlib
